@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}

.float1 {
  animation: float 4s ease-in-out infinite;
}

.float2 {
  animation: float 5.5s ease-in-out infinite;
}

.float3 {
  animation: float 6.5s ease-in-out infinite;
}

.float4 {
  animation: float 4.8s ease-in-out infinite;
}
